:root{
  --bs-primary-rgb: 12,52,132;
  --bs-secondary-rgb: 44,44,44;
  --bs-success-rgb: 23,174,172;
  --bs-info-rgb: 20,100,180;
  --bs-warning-rgb: 212,44,44;
  --bs-danger-rgb: 172,12,20;
  --bs-light-rgb: 122, 122, 122;
  --bs-dark-rgb: 28,28,28;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
}

.carousel-image{
    width: 1500px;
    height: 700px;
}
.card-little{
    width: 40%;
}
.clear-both{
    clear: both;
}
.card-text{
    color: black;
}
.card-img-top-index{
    height: 250px;
    width: 285px;
}
img{
    background-color: #646464;
}
.ataturk{
    height: 400px;
    width: 285px;
}
.right-side-image{
    width: 317px;
    height: auto;
}
.mt-6{
    margin-top: 12rem;
}
.mt-7{
    margin-top: 15rem;
}
.mt-8{
    margin-top: 20rem;
}
.mb-6{
    margin-bottom: 12rem;
}
.mb-7{
    margin-bottom: 15rem;
}
.mb-8{
    margin-bottom: 20rem;
}
.my-6{
    margin-top: 12rem;
    margin-bottom: 12rem;
}
.my-7{
    margin-top: 15rem;
    margin-bottom: 15rem;
}
.my-8{
    margin-top: 20rem;
    margin-bottom: 20rem;
}

.text-justify{
    text-align: justify;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption  {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: fixed;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.d-none{
    display: none;
}
body{
    color: #f8f9fa;
    background-image: url('Képek/hattér.png');
}

@media screen and (max-width: 600px) {
    .container { 
        width: 100%;

    }
    .card-little{
        width: 80% !important; 
    }
}
.navbar{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.kajakepek{
    border-radius: 12px;
}

.piakepek{
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}